body{
    text-align: center;
    
}

.notes{
    margin: auto;
    width: 50%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.main{
    display: inline-flex;
    gap: 5px;
}



.modal{
    color: white;
    padding-top: 50px;
    font-size: 20px;
}

.close{
    display: block;
    cursor: pointer;
    float: right;
    /* background-color: #576377; */
    margin-top: -10px;
}

.close:hover
.close:focus{
    background-color: azure;
    cursor: pointer;


}

.modal-container{
    position: fixed;
    display: none;
    z-index: 1;
    background-color: #e75389;
    padding-top: 1rem;
    overflow: auto;
    width: 40rem;
    height: 10rem;

}
.todo-items{
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 5px;
    flex-direction: row;
    padding: 5px;
}

.btn-submit{
    cursor: pointer;
}

.btn-submit{
    color: aquamarine;
}

.done{
    cursor: pointer;
    text-transform: capitalize;
}

.done:hover{
    color: #73AD21;
}

.textarea{
    width: 200px;
    height: 30px;

}

